
<div class="container">
 <div class="row">
   <br>
   <br>
   <div class="col s6 offset-s3">

     <h4>Where are you going?</h4>

     <%= form_for @location do |f| %>
       <div>
         <%= f.text_field :location, placeholder: " From", id:"form" %>
       </div>


         <div>
           <%= f.text_field :destination, placeholder: " To", id:"form" %>
         </div>
       <div class="col s6 push-s4">
         <a class="waves-effect waves-light btn"><%= f.submit "submit" %></a>
       </div>

     <% end %>



   </div>
 </div>
</div>
