<div class="background_image">

  <div class="container">
    <div class="row">
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col s6 offset-s3">

        <h4 style="color: white;">Where are you going?</h4>

        <%= form_for @location do |f| %>
        <div>
          <input placeholder=" From" id="location" type="text" name="location[location]">
        </div>
        <div>
          <input placeholder=" To" id="destination" type="text" name="location[destination]">
        </div>
        <div class="col s6 push-s4">
          <a class="waves-effect waves-light btn"><%= f.submit "submit" %></a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- autocomplete places -->
<script type="text/javascript">
  function initialize() {

  var input = document.getElementById('location');
  var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script type="text/javascript">
  function initialize() {

  var input2 = document.getElementById('destination');
  var autocomplete2 = new google.maps.places.Autocomplete(input2);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
