/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require materialize
 *= require toastr
 */

 #map {
   box-sizing: border-box;
   position: relative;
   width: 100%;
 }

 .route_col {
   background-color: #ddd;
   margin:20px;
   margin-bottom: 0px;
 }

 .route_text {
   background-color: #0086ff;
   margin-top:  0px;
   color: white;
   font-size: 20px;
 }

.route_inf {
  padding-left: 15px;
}

.margin {
  margin-top:  0px;
}

.link_route {
  background-color: #d0d0d0;
}

.material-icons{
  color: #757575;
}

.material-icons:hover{
  color: red;
}
